.env
db_api/app/__pycache__
db_api/__pycache__
db_api/.pytest_cache
db_api/migrations/__pycache__
bot/__pycache__
bot/chatbot/__pycache__
bot/.pytest_cache
__pycache__
.idea
bot/venv
db_api/venv
bot/.coverage
bot/htmlcov
db_api/.coverage
db_api/htmlcov
.vscode
.pytest_cache
tokens.txt
